@model Tranning.Models.TopicModel
@{
    ViewData["Title"] = "Topic page";
    // co the code nhu trong controller
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    bool statusAdd = Convert.ToBoolean(TempData["saveStatus"]);
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h4 class="display-6">
            List Topics
        </h4>
        <a class="btn btn-primary btn-sm" href="@Url.Action("Add","Topic")"> Add Topic </a>

        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p class="mb-0">
                    Find by name : <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <button type="submit" class="btn btn-primary btn-sm mb-0">Search</button>
                    <a asp-action="Index"> Back to full list</a>
                </p>
            </div>
        </form>
        <hr />

        @* @if (TempData["UpdateStatus"] != null)
        {
        @if (statusUpdate)
        {
        <div class="text-success my-2"> Update Successfully</div>
        }
        else
        {
        <div class="text-danger my-2"> Update Failure</div>
        }
        }

        @if (TempData["saveStatus"] != null)
        {
        @if (statusAdd)
        {
        <div class="text-success my-2"> Add Successfully</div>
        }
        else
        {
        <div class="text-danger my-2"> Add Failure</div>
        }
        } *@

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>COURSE</th>
                    <th>ATTACH_FILE</th>
                    <th>DESCRIPTION</th>
                    <th>STATUS</th>
                    <th>CREATED AT</th>
                    <th>UPDATED AT</th>
                    <th colspan="2" width="5%">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TopicDetailLists)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.course_id</td>
                        <td>
                            <img class="img-fluid" src="/Uploads/images/@item.attach_file" />
                        </td>
                        <td>@item.description</td>

                        <td>@item.status</td>
                        <td>@item.created_at</td>
                        <td>@item.updated_at</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="@Url.Action("Update","Topic", new { id = @item.id })">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Topic", new { id = @item.id })">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
